<% content_for(:title, "Mis Listas") %>
<% content_for :header do %>
<% end %>

<div class="col-12 col-md-10 col-lg-8">
  <%= turbo_frame_tag "new_list" do %>
  <% end %>
</div>
<div class="col-12 col-md-10 col-lg-8">
  <%= render @lists %>
</div>
