<% content_for(:title, "Lista #{@list.title}") %>

<div class="col-12 col-md-9 col-lg-7">
  <%= turbo_frame_tag :lists do %>
    <div class="d-flex w-100 flex-column">
      <%= turbo_frame_tag "todos-form" do %>
      <% end %>
      <%= turbo_frame_tag "todos", src: todos_path(list_id: @list) do %>
        Cargando...
      <% end %>
    </div>
  <% end %>
</div>
