<%= turbo_frame_tag todo do %>
  <li class="list-group-item">
    <%= todo.name %>
    <div class="position-absolute top-50 translate-middle d-flex flex-row" style="right: -1rem;">
      <%= button_to "Borrar", todo, method: :delete, class: "btn btn-sm btn-danger" %>
    </div>
  </li>
<% end %>
